* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0 auto !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media screen and (max-width: 500px) {
    section.module.parallax {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 0 auto !important;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

section.module.parallax:after {
    content: "";
    height: 110%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -webkit-linear-gradient(to bottom, rgba(10, 10, 10, .6)40%, rgba(10, 10, 10, .6)40%, #000 100%);
    ;
    background: -moz-linear-gradient(to bottom, rgba(10, 10, 10, .6)40%, rgba(10, 10, 10, .6)40%, #000 100%);
    background: -o-linear-gradient(to bottom, rgba(10, 10, 10, .6)40%, rgba(10, 10, 10, .6)40%, #000 100%);
    ;
    background: linear-gradient(to bottom, rgba(10, 10, 10, .6)10%, rgba(10, 10, 10, .6)10%, #000 100%);
}

section.module.parallax-2 {
    background-image: url(../../assets/img/image-fundo-sobre.png);
}



nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: rgba(0, 0, 165, 0.768);
        width: 100%;
        height: auto;
    }

    a {
        font-weight: bold;
        color: black;
        text-decoration: none;

        &.router-link-exact-active {
            color: red;
        }
    }

    a:hover {
        color: red;
    }
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    padding: 0 100px;
}

.content-header {
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    width: 75%;
    height: 100px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 200;
}

.content-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 300px;

}

.logo {
    width: 300px;
    height: 300px;
}

.container-pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-pages {
    color: black;
}

.link-pages:hover {
    color: red;
    text-decoration: none;
}

.container-geral-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 200;
    width: 100%;
    margin-top: 100px;
    padding: 50px 0;
}
.content-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.box-texto-contato{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: start;
    width: 500px;
    gap: 10px;
}
.titulo-1{
    color: red;
}
.titulo-2{
    color: white;
}
.titulo-3{
    color: white;
}
.titulo-4{
    color: white;
}
.titulo-4:hover{
    color: red;
    text-decoration: none;
}
.faixa-contato{
    width: 200px;
    background-color: red;
    height: 5px;
    border-radius: 5px;
}
.box-image-google{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
   
}
.google-maps{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: red;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.btn-link:hover {
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.568);
}






/* WHATSAPP BOTÃO */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}


@media screen and (max-width: 768px) {
    .container-header {
        display: none;
    }

    
}