*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-footer-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: grey;
    padding: 50px;
}
.content-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.content-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.logo{
    width: 100%;
    height: auto;
}
.logo-footer-1{
    color: black;
}
.link-menu{
    color: white;

}
.link-menu:hover{
    color: red;
    text-decoration: none;
}

.institucional-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 200px;
    border-left: 1px solid red;
    padding: 0 20px;
}
.content-footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.locais-color{
    color: white;
}
@media screen and (max-width: 768px){
    .container-footer-geral{
        display: flex;
        width: 100%;
        height: auto !important;
    }
    .content-footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px !important;
    }
    .institucional-footer{
        border-left: none;
    }
}
